<script language="javascript">
	/* Met à jour le Widget */
	function gCalendar_refreshWidget(gCalArray,gCalId) {
		var viewHtml=''; for(var i=1;i<gCalArray.length;i++){if(Array.isArray(gCalArray[i])){viewHtml += gCalendar_viewGCal(gCalArray[i]);}}
		document.getElementById("gCalendar_Div"+gCalId).innerHTML=viewHtml;
	}
	/* Formate les données pour les afficher dans le calendrier */
	// 0:nom jeedom / 1:type de vue / 2:date de mise à jour / 3:valeur affichée / 4:titre google / 5:url / 6:nb évènement //
	function gCalendar_viewGCal(gCalData) {
		var events=gCalData[3].split("<br/>");
		var vHtml="<div class='tooltips gCalendar_cal' style='padding:1px;margin:1px 5px 8px 5px;border:1px solid #777777;background-color:#FFFFFF;min-width:250px;'>";
		vHtml +="<div style='position:relative;padding:1px;'>";
		vHtml +="<div class='gCalendar_calTitle' style='height:20px;padding:2px;background-color:#777777;color:#FFFFFF;'>";
		vHtml +="<div style='position:absolute;padding:2px;'><i class='icon divers-calendar2' title='"+ gCalData[2] +"' style='font-size:14px;'></i></div>";
		vHtml +="<div style='position:absolute;padding-left:20px;'><span style='font-weight:bold; font-size:14px;' title='#txtView# : "+ gCalendar_getViewStyleText(gCalData[1]) +"'>"+ gCalData[0] +"</span>";
		if (gCalData[6]>0){vHtml +="<span style='font-style:italic;padding-left:3px;font-size:11px;'>("+ gCalData[6] +" even.)</span>";}
		vHtml +="</div>";
		if (gCalData[5]!=''){vHtml +="<div style='position:absolute;width:20px;right:0px;'><a href='"+ gCalData[5] +"' target='_blank'><i class='fa fa-rss' style='font-size:14px;' title='#txtGotoAG# : "+ gCalData[4] +"'></i></a></div>";}
		vHtml +="</div>";
		vHtml +="<div class='gCalendar_items' style='color:#666666;padding:1px 2px 3px 10px;'>"+ gCalData[3] +"</div></div></div>"; 
		return vHtml;
	}
	/* Type de vue : définie la valeur du texte à afficher */
	function gCalendar_getViewStyleText(sVSTxt){switch(sVSTxt){case "1day_today":return "#txtDay#";break;case "1day_next1hour":return "#txtNextHour#";break;default:return "#txtNow#";}}
</script>

<div class="eqLogic-widget eqLogic noResize gCalendar_dashboard" style="font-size:12px;background-color:#background_color#;#style#" data-eqLogic_id="#id#" data-version="dashboard" >
    <center class="widget-name">
        <a href="#eqLink#" class="gCalendar_title" style="font-size:1.5em;"> #name# </a>
    </center>
    <center><div class="tooltips gCalendar_date" title='#refreshDate#'>#txtToday# : #today#</div></center>
	<div id="gCalendar_Div#id#">
		<div class='tooltips' style='padding:1px; margin:1px 5px 8px 5px; border:1px solid #777777; background-color:#FFFFFF; min-width:250px;color:#000000;'>
			<center>... setup ...</center>
		</div>
	</div>
	<script>
		var gCalendar_#id# = [#gCalArray#];
		gCalendar_refreshWidget(gCalendar_#id#,#id#);
	</script>
</div>
